<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="text-align: center; padding-top:200px">
			<h2 style="margin-bottom: 40px;">Job title Classification</h2>
            <a href="/train"    class="btn btn-lg btn-primary" style="width: 150px;height: 50px;margin: 20px;">Train</a>
            <a href='/evaluate' class="btn btn-lg btn-secondary" style="width: 150px;height: 50px;margin: 20px;">Evaluate</a>
            <a href='/predict'  class="btn btn-lg btn-success" style="width: 150px;height: 50px;margin: 20px;">Predict</a>
        </div>
    </body>
</html>