<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <form class="was-validated" method="POST" action="/predict">
                <div class="mb-3">
                  <label>Job title Classification</label>
                  <textarea name="text" class="form-control"  placeholder="Enter the job title here"></textarea>
                </div>
                <div class="mb-3">
                    <button type="submit"  class="btn btn-lg btn-success">show prediction</button>
                </div>
            </form>
        </div>
    </body>
</html>









  